

## 1LineOfCode

In [17]:
# importar librerias
import numpy as np
import pandas as pd
import plotly.express as px  
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from dash import Dash, dcc, html, Input, Output
import us

#crear un dataframe con toda la informacion de la encuesta
df21 = pd.read_csv('../data/survey_results_public2021.csv', index_col = [0]) # El indice sera la columna con el ID de la respuesta

#crear un dataframe con toda la informacion de la encuesta
df20 = pd.read_csv ('../data/survey_results_public2020.csv', index_col = [0]) # El indice sera la columna con el ID de la respuesta

# nuevo df (2021)

In [18]:
## Age1stCode

#crear un nuevo df copiando solo la columna Age1stCode
df1 = df21[['Age1stCode']]

#normalizar todos los datos.
df1 = df1[df1['Age1stCode'].notna()] #eliminar los nulos

#Cambiar nombre valores de columna
df1.loc[df1["Age1stCode"] == "Younger than 5 years", "Age1stCode"] = "04 - 04 years" #ya hay un 05 anyos en el df. 
df1.loc[df1["Age1stCode"] == "Older than 64 years", "Age1stCode"] = "65 - 65 years" #ya hay un 05 anyos en el df. 
df1.loc[df1["Age1stCode"] == "5 - 10 years", "Age1stCode"] = "05 - 10 years"

df2= df1.groupby(['Age1stCode',],as_index=False).size() #agrupar el nuevo df por edad1stcode

df2.columns = ["RangoEdad1st", "Count1st"] #renombrar columnas

df2

    RangoEdad1st  Count1st
0  04 - 04 years       905
1  05 - 10 years     11720
2  11 - 17 years     44170
3  18 - 24 years     20065
4  25 - 34 years      4199
5  35 - 44 years      1312
6  45 - 54 years       544
7  55 - 64 years       245
8  65 - 65 years        83

In [23]:
#cambiar el nombre de los nuevos rangos
#df2.loc[df2["RangoEdad1st"] == "04 - 04 years", "RangoEdad1st"] = "Younger than 5 years" #ya hay un 05 anyos en el df. 
#df2.loc[df2["RangoEdad1st"] == "65 - 65 years", "RangoEdad1st"] = "Older than 64 years" #ya hay un 05 anyos en el df. 


def getRangeAge (dataframe, nombre_columna, nueva_columna):
    
    df= dataframe[[nombre_columna]]

    df = df[df[nombre_columna].notna()] #eliminar los nulos

    #para que no sea una columna string
    df.loc[df[nombre_columna] == "Less than 1 year", nombre_columna] = "0" #no hay 0 
    
    if "Older than 85" in df.values:
        df.loc[df[nombre_columna] == "Younger than 5 years", nombre_columna] = 4
        df.loc[df[nombre_columna] == "Older than 85", nombre_columna] = 86 #ya hay un 05 anyos en el df. 
        bins = [1, 5, 10, 18, 25, 35, 45, 55, 65, 75, 85, 86]
        
    else: 
        df = df.drop(df[df[nombre_columna] == "More than 50 years"].index)
        bins = [1, 5, 10, 18, 25, 35, 45, 55]
    

    df[nombre_columna] = df[nombre_columna].astype(int) # toda la columna es enteros

    df1 = pd.DataFrame(df[nombre_columna].value_counts(bins= bins, sort=False).reset_index().values, columns=[nueva_columna, "Count"+nueva_columna])

    
    return df1

getRangeAge(df20,"Age1stCode","rango")

           rango Countrango
0   (0.999, 5.0]        782
1    (5.0, 10.0]       7823
2   (10.0, 18.0]      37576
3   (18.0, 25.0]       9716
4   (25.0, 35.0]       1670
5   (35.0, 45.0]        232
6   (45.0, 55.0]         70
7   (55.0, 65.0]          8
8   (65.0, 75.0]          4
9   (75.0, 85.0]          6
10  (85.0, 86.0]         13

In [12]:

df3 = getRangeAge(df21,"YearsCode","Pro")
a1st=df3["CountPro"]

df2021 = pd.concat([df2, a1st], axis =1)

df2021.loc[df2021["RangoEdad1st"] == "04 - 04 years", "RangoEdad1st"] = "Younger than 5 years" #ya hay un 05 anyos en el df. 
df2021.loc[df2021["RangoEdad1st"] == "65 - 65 years", "RangoEdad1st"] = "Older than 64 years" #ya hay un 05 anyos en el df. 
df2021.fillna(0, inplace=True) #convertir los nan a 0 (ayudara con el grafico)

#f_column = data2["columnF"]
#data1 = pd.concat([data1,f_column], axis = 1)
df2021

           RangoEdad1st  Count1st  CountPro
0  Younger than 5 years       905     20725
1         05 - 10 years     11720     24295
2         11 - 17 years     44170     17194
3         18 - 24 years     20065      9316
4         25 - 34 years      4199      5471
5         35 - 44 years      1312      2741
6         45 - 54 years       544       240
7         55 - 64 years       245         0
8   Older than 64 years        83         0

In [13]:
dfPro = getRangeAge(df20,"YearsCode","Pro")
df1st = getRangeAge(df20,"Age1stCode","s1st")

df1st
df1st["s1st"] = ["Younger than 5 years",
                 "05 - 10 years",
                 "11 - 17 years",
                 "18 - 24 years",
                 "25 - 34 years",
                 "35 - 44 years",
                 "45 - 54 years",
                 "55 - 64 years",
                 "65 - 74 years",
                 "75 - 84 years",
                 "Older than 84 years"]

df2020 = pd.concat([df1st, dfPro["CountPro"]], axis =1)
df2020.fillna(0, inplace=True) #convertir los nan a 0 (ayudara con el grafico)

df2020

                    s1st  Counts1st  CountPro
0   Younger than 5 years        782     13272
1          05 - 10 years       7823     17572
2          11 - 17 years      37576     13026
3          18 - 24 years       9716      6920
4          25 - 34 years       1670      3847
5          35 - 44 years        232      1978
6          45 - 54 years         70       169
7          55 - 64 years          8         0
8          65 - 74 years          4         0
9          75 - 84 years          6         0
10   Older than 84 years         13         0

In [14]:
app = Dash(__name__)
server = app.server #heroku
app.layout = html.Div([

    html.H1("Tipo de desarrollador", style={'text-align': 'center'}), #cabecero h1. Header
    
    #primera mini prueba con un menu desplegable.
    dcc.Dropdown(id="select_opt",  
                 options=[ #el usuario va a ver las label.
                     {"label": "2021", "value": "2021"},
                     {"label": "2020", "value": "2020"}],
                 multi=False,
                 value="2021",
                 style={'width': "40%"}
                 ),

    dcc.Graph(id='my_survey', figure={}) # graph container

])

In [15]:
@app.callback(
    Output(component_id='my_survey', component_property='figure'),
    Input(component_id='select_opt', component_property='value'))
def update_graph(option_slctd):
    #filtered_df = df[df.year == selected_year]
    fig=make_subplots(specs=[[{"secondary_y":True}]])

    fig.add_trace(go.Bar(x= df2020["s1st"], y= df2020["Counts1st"], name = "first"), secondary_y=True,)
    fig.add_trace(go.Bar(x= df2020["s1st"], y= df2020["CountPro"], name = "pro"), secondary_y=True,)
    
    fig.update_xaxes(title_text="2020")

    
    
    
    return fig

In [16]:
app.run_server(debug=True, use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

#filtered_df = df[df.year == selected_year]
    cfg = [("x", "RangoEdad"), ("y", "count")]
    
        fig = px.histogram(df3, **{ax: col for ax, col in cfg}, 
                           category_orders={'RangoEdad':["Younger than 5 years", 
                            "05 - 10 years", "11 - 17 years", "18 - 24 years", "25 - 34 years", "35 - 44 years",
                            "45 - 54 years", "55 - 64 years", "Older than 64 years"]},
                          labels={"count":"# Responses", "RangoEdad":"Age range"})            
        # 'ggplot2', 'seaborn', 'simple_white', 'plotly',
                                  # 'plotly_white', 'plotly_dark', 'presentation',
                                  # 'xgridoff', 'ygridoff', 'gridon', 'none')

        # category_orders={'year':    
                           # force a specific ordering of values per column
    # [2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001]},)
    else: fig = px.histogram(df4, **{ax: col for ax, col in cfg})